/* RSS・著者名を非表示 */
.feed-subscribe {
  display: none !important;
}

.post-list .post-meta .p-author {
  display: none !important;
}

footer .p-name {
  display: none !important;
}

.site-footer .p-name {
  display: none !important;
}
